https://pypi.org/project/censusgeocode/

In [1]:
import censusgeocode as cg
result = cg.onelineaddress('152 Panoramic Way, Berkeley')
result = cg.coordinates(-73.992195,40.73797)
result

{'2010 Census Blocks': [{'SUFFIX': '',
   'GEOID': '360610054001004',
   'CENTLAT': '+40.7388885',
   'BLOCK': '1004',
   'AREAWATER': 0,
   'STATE': '36',
   'BASENAME': '1004',
   'OID': 210403969809634,
   'LSADC': 'BK',
   'FUNCSTAT': 'S',
   'INTPTLAT': '+40.7388885',
   'NAME': 'Block 1004',
   'OBJECTID': 1184891,
   'TRACT': '005400',
   'CENTLON': '-073.9936222',
   'BLKGRP': '1',
   'AREALAND': 23183,
   'INTPTLON': '-073.9936222',
   'MTFCC': 'G5040',
   'LWBLKTYP': 'L',
   'COUNTY': '061',
   'CENT': (-73.9936222, 40.7388885),
   'INTPT': (-73.9936222, 40.7388885)}],
 'States': [{'STATENS': '01779796',
   'GEOID': '36',
   'CENTLAT': '+42.9198015',
   'AREAWATER': 19244881040,
   'STATE': '36',
   'BASENAME': 'New York',
   'STUSAB': 'NY',
   'OID': 27490100833860,
   'LSADC': '00',
   'FUNCSTAT': 'A',
   'INTPTLAT': '+42.9133974',
   'DIVISION': '2',
   'NAME': 'New York',
   'REGION': '1',
   'OBJECTID': 39,
   'CENTLON': '-075.5942771',
   'AREALAND': 122050448177,
   'INTPTLON': '-075.5962723',
   'MTFCC': 'G4000',
   'CENT': (-75.5942771, 42.9198015),
   'INTPT': (-75.5962723, 42.9133974)}],
 'Counties': [{'GEOID': '36061',
   'CENTLAT': '+40.7741301',
   'AREAWATER': 28551431,
   'STATE': '36',
   'BASENAME': 'New York',
   'OID': 27590460844234,
   'LSADC': '06',
   'FUNCSTAT': 'C',
   'INTPTLAT': '+40.7766419',
   'NAME': 'New York County',
   'OBJECTID': 2446,
   'CENTLON': '-073.9698320',
   'COUNTYCC': 'H6',
   'COUNTYNS': '00974129',
   'AREALAND': 58680717,
   'INTPTLON': '-073.9701871',
   'MTFCC': 'G4020',
   'COUNTY': '061',
   'CENT': (-73.969832, 40.7741301),
   'INTPT': (-73.9701871, 40.7766419)}],
 'Census Tracts': [{'GEOID': '36061005400',
   'CENTLAT': '+40.7388112',
   'AREAWATER': 0,
   'STATE': '36',
   'BASENAME': '54',
   'OID': 20790460875542,
   'LSADC': 'CT',
   'FUNCSTAT': 'S',
   'INTPTLAT': '+40.7388112',
   'NAME': 'Census Tract 54',
   'OBJECTID': 9799,
   'TRACT': '005400',
   'CENTLON': '-073.9936780',
   'AREALAND': 167959,
   'INTPTLON': '-073.9936780',
   'MTFCC': 'G5020',
   'COUNTY': '061',
   'CENT': (-73.993678, 40.7388112),
   'INTPT': (-73.993678, 40.7388112)}]}

In [3]:
# from arcgis.gis import *
# gis = GIS()
# map1 = gis.map('USA')
# map1

In [7]:
import numpy as np
census_number = np.load('census tract numbers.npy',allow_pickle=True)

array(['156', '102', '108', '331', '402', '428', '234', '165', '307',
       '351', '130', '260.02', '264.02', '303.01', '308', '254.02',
       '479.01', '262', '216', '309', '477.01', '477.02', '605.02', '607',
       '479.02', '604', '109', '118', '121', '128', '155', '161', '163',
       '176.01', '201', '206', '209', '218', '226', '231.02', '251',
       '170', '180', '215', '228.03', '264.04', '306', '310', '332.01',
       '111', '117', '154', '104', '255', '256', '258', '260.01', '451',
       '452', '261', '233', '253', '254.01', '305', '263.01', '263.02',
       '263.03', '311', '217', '228.02', '229.01', '229.02', '229.03',
       '230.03', '264.03', '302.01', '303.02', '304', '103', '110',
       '260.04', '301.01', '330', '254.03', '264.01', '302.02', '353',
       '476', '106', '208', '610', '203', '207', '211', '212', '213',
       '107', '162', '169', '252', '101', '112', '134', '151', '157',
       '164', '166', '179.02', '214', '120', '127', '132', '133', '135',
       '153', '167', '202', '205', '210', '230.01', '352.02', '427',
       '601', '314', '327', '401', '232', '301.02', '352.01', '354',
       '159', '160', '105', '113', '152', '177', '227.02', '228.01',
       '231.03', '259', '260.03', '615', '119.01', '119.02', '122.01',
       '122.02', '123.01', '123.02', '124.01', '124.02', '125.01',
       '125.02', '126.01', '126.02', '129.01', '129.02', '131.01',
       '131.02', '158.01', '158.02', '168.01', '168.02', '171.01',
       '171.02', '178.01', '178.02', '204.01', '204.02', '227.04',
       '257.01', '313.01', '257.02', '312.01', '312.02', '313.02',
       '326.01', '326.02', '328.01', '328.02', '332.04', '329.01',
       '329.02', '332.03', '426.01', '426.02', '478.01', '478.02', '611',
       '612', '614', '9802', '9803', '9804.01', '9805.01', '9806', '9809',
       '9901'], dtype=object)

In [107]:
import geopandas
import numpy as np
import pandas as pd

polygons = geopandas.read_file("/Users/annieouyang/Downloads/cb_2018_06_tract_500k 2")
polygons

,STATEFP,COUNTYFP,TRACTCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,06,009,000300,1400000US06009000300,06009000300,3,CT,457009794,394122,"POLYGON ((-120.76399 38.21389, -120.76197 38.2..."
1,06,011,000300,1400000US06011000300,06011000300,3,CT,952744514,195376,"POLYGON ((-122.50006 39.12232, -122.50022 39.1..."
2,06,013,303102,1400000US06013303102,06013303102,3031.02,CT,6507019,0,"POLYGON ((-121.72937 37.96884, -121.71409 37.9..."
3,06,013,303202,1400000US06013303202,06013303202,3032.02,CT,3725528,0,"POLYGON ((-121.72346 37.96161, -121.71672 37.9..."
4,06,013,303203,1400000US06013303203,06013303203,3032.03,CT,6354210,0,"POLYGON ((-121.74486 37.95681, -121.74425 37.9..."
...,...,...,...,...,...,...,...,...,...,...
8036,06,075,022902,1400000US06075022902,06075022902,229.02,CT,161833,0,"POLYGON ((-122.41205 37.75423, -122.40925 37.7..."
8037,06,065,044804,1400000US06065044804,06065044804,448.04,CT,2374766,248057,"POLYGON ((-116.51068 33.80502, -116.51069 33.8..."
8038,06,099,003300,1400000US06099003300,06099003300,33,CT,640784444,2596432,"POLYGON ((-121.48677 37.47565, -121.48341 37.4..."
8039,06,037,124400,1400000US06037124400,06037124400,1244,CT,961439,14163,"POLYGON ((-118.41379 34.17940, -118.41160 34.1..."
8040,06,107,003901,1400000US06107003901,06107003901,39.01,CT,4993183,25643,"POLYGON ((-119.00850 36.07658, -118.99978 36.0..."

In [106]:
sf = polygons[polygons.COUNTYFP == '075']
sf.geometry.iloc[0]

526      508.192339
527      237.639707
528      171.101130
529      430.158947
530      478.561489
           ...
7789     706.883844
7790    1473.154859
7800     757.278411
8026     421.052535
8036     226.964851
Length: 196, dtype: float64

In [99]:
sf.to_csv('sf polygons.csv')

In [81]:
x, y = sf.geometry.iloc[0].exterior.coords.xy
x,y

(array('d', [-122.426671, -122.424876, -122.42504116215702, -122.42061231511501, -122.419224, -122.418718, -122.41828100000001, -122.417799, -122.417587, -122.420769, -122.420883, -122.424275, -122.424464, -122.424835, -122.425209, -122.425628, -122.426613, -122.426671]),
 array('d', [37.809639, 37.810798999999996, 37.811001508766, 37.811112170060404, 37.808453, 37.805932, 37.804023, 37.801266999999996, 37.800340999999996, 37.799938999999995, 37.799901999999996, 37.799472, 37.800402, 37.802268, 37.804133, 37.806456, 37.808152, 37.809639]))

In [100]:
sf.geometry.iloc[0].contains()