https://pypi.org/project/censusgeocode/

In [10]:
import censusgeocode as cg
result = cg.onelineaddress('152 Panoramic Way, Berkeley')
result = cg.coordinates(-73.992195,40.73797)
result

{'2010 Census Blocks': [{'SUFFIX': '',
   'GEOID': '360610054001004',
   'CENTLAT': '+40.7388885',
   'BLOCK': '1004',
   'AREAWATER': 0,
   'STATE': '36',
   'BASENAME': '1004',
   'OID': 210403969809634,
   'LSADC': 'BK',
   'FUNCSTAT': 'S',
   'INTPTLAT': '+40.7388885',
   'NAME': 'Block 1004',
   'OBJECTID': 1184891,
   'TRACT': '005400',
   'CENTLON': '-073.9936222',
   'BLKGRP': '1',
   'AREALAND': 23183,
   'INTPTLON': '-073.9936222',
   'MTFCC': 'G5040',
   'LWBLKTYP': 'L',
   'COUNTY': '061',
   'CENT': (-73.9936222, 40.7388885),
   'INTPT': (-73.9936222, 40.7388885)}],
 'States': [{'STATENS': '01779796',
   'GEOID': '36',
   'CENTLAT': '+42.9198015',
   'AREAWATER': 19244881040,
   'STATE': '36',
   'BASENAME': 'New York',
   'STUSAB': 'NY',
   'OID': 27490100833860,
   'LSADC': '00',
   'FUNCSTAT': 'A',
   'INTPTLAT': '+42.9133974',
   'DIVISION': '2',
   'NAME': 'New York',
   'REGION': '1',
   'OBJECTID': 39,
   'CENTLON': '-075.5942771',
   'AREALAND': 122050448177,
   'INTPTLON': '-075.5962723',
   'MTFCC': 'G4000',
   'CENT': (-75.5942771, 42.9198015),
   'INTPT': (-75.5962723, 42.9133974)}],
 'Counties': [{'GEOID': '36061',
   'CENTLAT': '+40.7741301',
   'AREAWATER': 28551431,
   'STATE': '36',
   'BASENAME': 'New York',
   'OID': 27590460844234,
   'LSADC': '06',
   'FUNCSTAT': 'C',
   'INTPTLAT': '+40.7766419',
   'NAME': 'New York County',
   'OBJECTID': 2446,
   'CENTLON': '-073.9698320',
   'COUNTYCC': 'H6',
   'COUNTYNS': '00974129',
   'AREALAND': 58680717,
   'INTPTLON': '-073.9701871',
   'MTFCC': 'G4020',
   'COUNTY': '061',
   'CENT': (-73.969832, 40.7741301),
   'INTPT': (-73.9701871, 40.7766419)}],
 'Census Tracts': [{'GEOID': '36061005400',
   'CENTLAT': '+40.7388112',
   'AREAWATER': 0,
   'STATE': '36',
   'BASENAME': '54',
   'OID': 20790460875542,
   'LSADC': 'CT',
   'FUNCSTAT': 'S',
   'INTPTLAT': '+40.7388112',
   'NAME': 'Census Tract 54',
   'OBJECTID': 9799,
   'TRACT': '005400',
   'CENTLON': '-073.9936780',
   'AREALAND': 167959,
   'INTPTLON': '-073.9936780',
   'MTFCC': 'G5020',
   'COUNTY': '061',
   'CENT': (-73.993678, 40.7388112),
   'INTPT': (-73.993678, 40.7388112)}]}

In [13]:
from arcgis.gis import *
gis = GIS()
map1 = gis.map('USA')
map1

MapView(layout=Layout(height='400px', width='100%'))

In [22]:
cd "/Users/annieouyang/Downloads/cb_2018_06_tract_500k 2"

/Users/annieouyang/Downloads/cb_2018_06_tract_500k 2

In [27]:
import geopandas

countries_gdf = geopandas.read_file("cb_2018_06_tract_500k.shp")
countries_gdf

,STATEFP,COUNTYFP,TRACTCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,06,009,000300,1400000US06009000300,06009000300,3,CT,457009794,394122,"POLYGON ((-120.76399 38.21389, -120.76197 38.2..."
1,06,011,000300,1400000US06011000300,06011000300,3,CT,952744514,195376,"POLYGON ((-122.50006 39.12232, -122.50022 39.1..."
2,06,013,303102,1400000US06013303102,06013303102,3031.02,CT,6507019,0,"POLYGON ((-121.72937 37.96884, -121.71409 37.9..."
3,06,013,303202,1400000US06013303202,06013303202,3032.02,CT,3725528,0,"POLYGON ((-121.72346 37.96161, -121.71672 37.9..."
4,06,013,303203,1400000US06013303203,06013303203,3032.03,CT,6354210,0,"POLYGON ((-121.74486 37.95681, -121.74425 37.9..."
...,...,...,...,...,...,...,...,...,...,...
8036,06,075,022902,1400000US06075022902,06075022902,229.02,CT,161833,0,"POLYGON ((-122.41205 37.75423, -122.40925 37.7..."
8037,06,065,044804,1400000US06065044804,06065044804,448.04,CT,2374766,248057,"POLYGON ((-116.51068 33.80502, -116.51069 33.8..."
8038,06,099,003300,1400000US06099003300,06099003300,33,CT,640784444,2596432,"POLYGON ((-121.48677 37.47565, -121.48341 37.4..."
8039,06,037,124400,1400000US06037124400,06037124400,1244,CT,961439,14163,"POLYGON ((-118.41379 34.17940, -118.41160 34.1..."
8040,06,107,003901,1400000US06107003901,06107003901,39.01,CT,4993183,25643,"POLYGON ((-119.00850 36.07658, -118.99978 36.0..."