In [317]:
import googlemaps
from datetime import datetime
import requests

import numpy as np
import pandas as pd

import geopandas
from geopandas import GeoSeries
from shapely.geometry import Point, Polygon
import shapely.wkt

import matplotlib.pyplot as plt

Using a circular estimate
1. Getting the centroid of each census tract
2. Getting the area of the census tract (Awater + aland); deduce the radius
3. add 20% to the radius to account for error 
4. finding the approximate radius and use that data to search for the coffee shop
5. filter the results again

In [302]:
sf = pd.read_csv('sf polygons.csv')
polys = [shapely.wkt.loads(st) for st in sf['geometry']]
sf['polys']=polys

In [303]:
area_sqmeters = sf.ALAND + sf.AWATER
radius = np.sqrt(area_sqmeters/np.pi)*1.2

In [390]:
#getting the center of each census tract polygon
centroids = sf.polys.apply(lambda x: x.centroid.coords.xy)

#getting the long and lat of each centroid
xs = [x[0][0] for x in centroids]
ys = [x[1][0] for x in centroids]

0      ([-122.42212773374088], [37.805372571855294])
1      ([-122.41273118938341], [37.792970234172934])
2        ([-122.4157881831438], [37.78305080246916])
3      ([-122.45246359513322], [37.788720330047184])
4      ([-122.45102450761902], [37.784344490379524])
                           ...
191    ([-122.50703188542573], [37.754873408267194])
192    ([-122.49345126885703], [37.719455270824234])
193     ([-122.50123449359066], [37.78452638765986])
194      ([-122.4076255156959], [37.74397513373201])
195    ([-122.41037531072314], [37.751348869180035])
Name: polys, Length: 196, dtype: object

In [306]:
# tried google maps result is bad
# results = []
# for i in range(len(xs)):    
#     api_key = 'AIzaSyAiSgKekSV8Wt2mlIs_Bhsv2v97VWlcoiA'
#     keyword = 'coffee'
#     location = str(ys[i]) + ', '+str(xs[i])
#     r = str(radius[i])

#     url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?keyword="+ keyword + \
#             "&location=" +location+ "&radius="+r+"&key="+ api_key
#     # url = "https://maps.googleapis.com/maps/api/place/textsearch/json?query="+ address_search + \
#     #         "&location=37.759132, -122.437283&radius=5&key="+ api_key

#     r = requests.get(url)
#     json_data = r.json()
#     results +=[json_data['results']]

#     # destination = gmaps.reverse_geocode((37.7749, 122.4194))
#     # local = gmaps.local_search('cafe near ' + destination)

In [454]:
yelp_results=[]
for i in range(len(xs)):
    client_id = 'rRDHhKNyRxAe0g3ogr6pzw'
    api_key = 'tRgfsm8C7DuwQflYI3z0xPK8SYQOLF1mbjYGU94QYGrtLE2yr0eOl3pJ4CJBtNMwzaDuFD7EpJ8s7taIfYADiB4dR6sIMIs9IaW0rXDKyPVStZIqnCI3DM3l-CrsXnYx'

    from yelpapi import YelpAPI

    yelp_api = YelpAPI(api_key)
#     term = 'coffee'
#     location = '-122.426671,37.809639'

#     url = 'https://api.yelp.com/v3/businesses/search/json?location="San Francisco"&term="coffee"&'
#     r = requests.get(url)
#     json_data = r.json()


    response = yelp_api.search_query(term = term,
                                     latitude=ys[i],
                                     longitude=xs[i],
                                     radius = int(radius[i]),
                                    search_limit=50)
    yelp_results += [response]

In [467]:
#names and coordinates
names=[]
lat=[]
lng=[]
census_index_number = []
for i in range(len(yelp_results)):
    for j in range(len(yelp_results[i]['businesses'])):
        names += [yelp_results[i]['businesses'][j]['name']]
        lat+= [yelp_results[i]['businesses'][j]['coordinates']['latitude']]
        lng+= [yelp_results[i]['businesses'][j]['coordinates']['longitude']]
        census_index_number += [i]

In [521]:
codes = sf.TRACTCE.to_dict()
codes[0]

10200

In [524]:
#removing duplicates by location
coffee = pd.DataFrame(names,columns=['name'])
coffee['lat']=lat
coffee['lng']=lng
coffee['location']= list(zip(lat,lng))
coffee['census_idx']=census_index_number
coffee = coffee.drop_duplicates(subset ="location")

coffee['census_tract']= coffee.census_idx.apply(lambda x: codes[x])
coffee

,name,lat,lng,location,census_idx,census_tract
0,The Buena Vista,37.806509,-122.420722,"(37.806509097529, -122.42072219051)",0,10200
1,Cafe de Casa,37.806110,-122.418920,"(37.8061099, -122.41892)",0,10200
2,Saint Frank Coffee,37.798473,-122.422026,"(37.798473, -122.422026)",0,10200
3,Eight AM,37.806251,-122.419204,"(37.806251, -122.419204)",0,10200
4,First Cup,37.802457,-122.424875,"(37.8024570643902, -122.424875423312)",0,10200
...,...,...,...,...,...,...
2629,Seal Rock Inn Restaurant,37.779736,-122.509317,"(37.7797360352557, -122.509316666667)",193,980200
2638,Barebottle Brewing Company,37.740086,-122.409004,"(37.7400856018066, -122.409004211426)",194,25100
2639,McDonald's,37.742080,-122.405190,"(37.74208, -122.40519)",194,25100
2640,Silver Crest Donut Shop,37.742328,-122.406164,"(37.7423279123164, -122.406163911199)",194,25100
2650,El Tomate Restaurant,37.752890,-122.410270,"(37.75289, -122.41027)",195,22902

In [527]:
coffee_sf = coffee.merge(sf[['TRACTCE','polys']],left_on='census_tract',right_on='TRACTCE')

In [528]:
coffee_sf.to_csv('coffee_sf.csv')

In [550]:
str(coffee_sf.polys[0])[9:-1]

'(-122.426671 37.809639, -122.424876 37.810799, -122.425041162157 37.811001508766, -122.420612315115 37.8111121700604, -122.419224 37.808453, -122.418718 37.805932, -122.418281 37.804023, -122.417799 37.801267, -122.417587 37.800341, -122.420769 37.79993899999999, -122.420883 37.799902, -122.424275 37.799472, -122.424464 37.800402, -122.424835 37.802268, -122.425209 37.804133, -122.425628 37.806456, -122.426613 37.808152, -122.426671 37.809639)'

In [554]:
coffee_sf['polygons']=coffee_sf.polys.apply(lambda x: str(x)[9:-1])

In [556]:
coffee_sf.to_csv('coffee_sf_1.csv')