In [2]:
import googlemaps
from datetime import datetime
import requests

import numpy as np
import pandas as pd

import geopandas
from geopandas import GeoSeries
from shapely.geometry import Point, Polygon
import shapely.wkt

import matplotlib.pyplot as plt

Using a circular estimate
1. Getting the centroid of each census tract
2. Getting the area of the census tract (Awater + aland); deduce the radius
3. add 20% to the radius to account for error 
4. finding the approximate radius and use that data to search for the coffee shop
5. filter the results again

In [3]:
sf = pd.read_csv('sf polygons.csv')
polys = [shapely.wkt.loads(st) for st in sf['geometry']]
sf['polys']=polys

In [4]:
area_sqmeters = sf.ALAND + sf.AWATER
radius = np.sqrt(area_sqmeters/np.pi)*1.2

In [5]:
#getting the center of each census tract polygon
centroids = sf.polys.apply(lambda x: x.centroid.coords.xy)

#getting the long and lat of each centroid
xs = [x[0][0] for x in centroids]
ys = [x[1][0] for x in centroids]

In [7]:
# # tried google maps result is bad
# results = []
# for i in range(len(xs)):    
#     api_key = ''
#     keyword = 'coffee'
#     location = str(ys[i]) + ', '+str(xs[i])
#     r = str(radius[i])

#     url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?keyword="+ keyword + \
#             "&location=" +location+ "&radius="+r+"&key="+ api_key
#     # url = "https://maps.googleapis.com/maps/api/place/textsearch/json?query="+ address_search + \
#     #         "&location=37.759132, -122.437283&radius=5&key="+ api_key

#     r = requests.get(url)
#     json_data = r.json()
#     results +=[json_data['results']]

#     # destination = gmaps.reverse_geocode((37.7749, 122.4194))
#     # local = gmaps.local_search('cafe near ' + destination)

In [454]:
yelp_results=[]
for i in range(len(xs)):
    client_id = 'rRDHhKNyRxAe0g3ogr6pzw'
    api_key = 'tRgfsm8C7DuwQflYI3z0xPK8SYQOLF1mbjYGU94QYGrtLE2yr0eOl3pJ4CJBtNMwzaDuFD7EpJ8s7taIfYADiB4dR6sIMIs9IaW0rXDKyPVStZIqnCI3DM3l-CrsXnYx'

    from yelpapi import YelpAPI

    yelp_api = YelpAPI(api_key)
#     term = 'coffee'
#     location = '-122.426671,37.809639'

#     url = 'https://api.yelp.com/v3/businesses/search/json?location="San Francisco"&term="coffee"&'
#     r = requests.get(url)
#     json_data = r.json()


    response = yelp_api.search_query(term = term,
                                     latitude=ys[i],
                                     longitude=xs[i],
                                     radius = int(radius[i]),
                                    search_limit=50)
    yelp_results += [response]

In [632]:
lst_categories=['cafes','Cafes','coffee','Coffee & Tea']

In [643]:
#names and coordinates
names=[]
lat=[]
lng=[]
census_index_number = []
for i in range(len(yelp_results)):
    for j in range(len(yelp_results[i]['businesses'])):
        coffee_test = np.sum([[x in yelp_results[i]['businesses'][j]['categories'][k].values() 
                        for x in lst_categories] for k in range(len(yelp_results[i]['businesses'][j]['categories']))])
        if coffee_test > 0:
            names += [yelp_results[i]['businesses'][j]['name']]
            lat+= [yelp_results[i]['businesses'][j]['coordinates']['latitude']]
            lng+= [yelp_results[i]['businesses'][j]['coordinates']['longitude']]
            census_index_number += [i]

In [8]:
codes = sf.TRACTCE.to_dict()
codes

{0: 10200,
 1: 11200,
 2: 12401,
 3: 13300,
 4: 15400,
 5: 16300,
 6: 17801,
 7: 20800,
 8: 22704,
 9: 23300,
 10: 25800,
 11: 30202,
 12: 31400,
 13: 40200,
 14: 45100,
 15: 31201,
 16: 23400,
 17: 25900,
 18: 26003,
 19: 30201,
 20: 11800,
 21: 12201,
 22: 12402,
 23: 16400,
 24: 16801,
 25: 17700,
 26: 20300,
 27: 20700,
 28: 21400,
 29: 22702,
 30: 32901,
 31: 33203,
 32: 40100,
 33: 42602,
 34: 47901,
 35: 61100,
 36: 31301,
 37: 25403,
 38: 15600,
 39: 21300,
 40: 32802,
 41: 47801,
 42: 12100,
 43: 13101,
 44: 12602,
 45: 15802,
 46: 31202,
 47: 12700,
 48: 47702,
 49: 45200,
 50: 12000,
 51: 20100,
 52: 23003,
 53: 31000,
 54: 10300,
 55: 10700,
 56: 15801,
 57: 16100,
 58: 16200,
 59: 17000,
 60: 17902,
 61: 20401,
 62: 21600,
 63: 30101,
 64: 30302,
 65: 30600,
 66: 31100,
 67: 32602,
 68: 21100,
 69: 21800,
 70: 23001,
 71: 23103,
 72: 25401,
 73: 25701,
 74: 26004,
 75: 26301,
 76: 47902,
 77: 32902,
 78: 33204,
 79: 42700,
 80: 61000,
 81: 980401,
 82: 980900,
 83: 15700,
 84: 10400,
 85: 10900,
 86: 26002,
 87: 47701,
 88: 11902,
 89: 12301,
 90: 12501,
 91: 13000,
 92: 13200,
 93: 13400,
 94: 13500,
 95: 15300,
 96: 15500,
 97: 16700,
 98: 15900,
 99: 61200,
 100: 11100,
 101: 11300,
 102: 16500,
 103: 12902,
 104: 26001,
 105: 25402,
 106: 25600,
 107: 26200,
 108: 26302,
 109: 26401,
 110: 30102,
 111: 30301,
 112: 21700,
 113: 22801,
 114: 22803,
 115: 22903,
 116: 23102,
 117: 25300,
 118: 10500,
 119: 10600,
 120: 11901,
 121: 12202,
 122: 12302,
 123: 12502,
 124: 12901,
 125: 33201,
 126: 35100,
 127: 35300,
 128: 42601,
 129: 42800,
 130: 47600,
 131: 47802,
 132: 60100,
 133: 60502,
 134: 61400,
 135: 61500,
 136: 980300,
 137: 980501,
 138: 17101,
 139: 17601,
 140: 17802,
 141: 18000,
 142: 20402,
 143: 20500,
 144: 21000,
 145: 21200,
 146: 21500,
 147: 30400,
 148: 30500,
 149: 30700,
 150: 30900,
 151: 31302,
 152: 32601,
 153: 32700,
 154: 33000,
 155: 10800,
 156: 22901,
 157: 10100,
 158: 23200,
 159: 26100,
 160: 12800,
 161: 15100,
 162: 16802,
 163: 26404,
 164: 20200,
 165: 22802,
 166: 25200,
 167: 26403,
 168: 30800,
 169: 35400,
 170: 35202,
 171: 16900,
 172: 11000,
 173: 12601,
 174: 20900,
 175: 26402,
 176: 60700,
 177: 980600,
 178: 22600,
 179: 25702,
 180: 32801,
 181: 17102,
 182: 33100,
 183: 20600,
 184: 16000,
 185: 25500,
 186: 11700,
 187: 13102,
 188: 15200,
 189: 16600,
 190: 26303,
 191: 35201,
 192: 60400,
 193: 980200,
 194: 25100,
 195: 22902}

In [651]:
#removing duplicates by location
coffee = pd.DataFrame(names,columns=['name'])
coffee['lat']=lat
coffee['lng']=lng
coffee['location']= list(zip(lat,lng))
coffee['census_idx']=census_index_number
coffee = coffee.drop_duplicates(subset ="location")

coffee['census_tract']= coffee.census_idx.apply(lambda x: codes[x])
coffee

,name,lat,lng,location,census_idx,census_tract
0,The Buena Vista,37.806509,-122.420722,"(37.806509097529, -122.42072219051)",0,10200
1,Cafe de Casa,37.806110,-122.418920,"(37.8061099, -122.41892)",0,10200
2,Saint Frank Coffee,37.798473,-122.422026,"(37.798473, -122.422026)",0,10200
3,First Cup,37.802457,-122.424875,"(37.8024570643902, -122.424875423312)",0,10200
4,Starbucks,37.806544,-122.420399,"(37.806544, -122.420399)",0,10200
...,...,...,...,...,...,...
1265,Local Cafe,37.788260,-122.403860,"(37.78826, -122.40386)",186,11700
1296,Starbucks,37.700767,-122.483179,"(37.700767, -122.483179)",192,60400
1301,Starbucks,37.699575,-122.481762,"(37.699575, -122.481762)",192,60400
1305,Legion of Honor Cafe,37.785741,-122.500141,"(37.7857414, -122.5001414)",193,980200
1311,McDonald's,37.742080,-122.405190,"(37.74208, -122.40519)",194,25100

In [652]:
coffee_sf = coffee.merge(sf[['TRACTCE','polys','NAME']],left_on='census_tract',right_on='TRACTCE')
coffee_sf.name

0           The Buena Vista
1              Cafe de Casa
2        Saint Frank Coffee
3                 First Cup
4                 Starbucks
               ...
713              Local Cafe
714               Starbucks
715               Starbucks
716    Legion of Honor Cafe
717              McDonald's
Name: name, Length: 718, dtype: object

In [659]:
coffee_sf.to_csv('coffee_sf_filtered.csv')

In [666]:
sum(coffee_sf.name == "McDonald's")

9