In [64]:
import pandas as pd
import censusgeocode as cg
import re
import time
import geopandas 
import shapely.wkt
from shapely.geometry import Point, Polygon

In [65]:
evictions=pd.read_csv('/Users/renasong/Documents/2020su/proj/Eviction_Notices.csv')

/Users/renasong/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [66]:
evictions=evictions[['Address','Eviction Notice Source Zipcode','File Date','Neighborhoods - Analysis Boundaries','Location','Non Payment',
                    'Breach','Nuisance','Illegal Use','Failure to Sign Renewal','Access Denial','Unapproved Subtenant',
                     'Owner Move In','Demolition','Capital Improvement','Substantial Rehab','Ellis Act WithDrawal',
                     'Condo Conversion','Roommate Same Unit','Other Cause','Late Payments','Lead Remediation','Development',
                     'Good Samaritan Ends']]

evictions=evictions.rename(columns={'Neighborhoods - Analysis Boundaries':'Neighborhood','Eviction Notice Source Zipcode':'Zipcode'})

In [67]:
evictions=evictions.fillna('')

In [68]:
locations=evictions['Location'].to_numpy()

In [69]:
cd=[re.findall("(\-\\d+\.\\d+|\\d+\.\\d+)",loc) for loc in locations]

In [70]:
points=[]
for c in cd:
    if len(c)==2:
        points.append(Point(float(c[0]),float(c[1])))
    else:
        points.append('')

In [71]:
sf=pd.read_csv('sf polygons.csv')

In [72]:
polys = [shapely.wkt.loads(st) for st in sf['geometry']]

In [73]:

res=[]
for point in points:
    if type(point)!=shapely.geometry.point.Point:
        res.append(0)
    else:
        count=0
        for poly in polys:
            if poly.contains(point):
                res.append(poly)
                count+=1
        if count<1:
            res.append(0)

In [80]:
pointsdf = pd.DataFrame(points)
pointsdf['polygons'] = res

pointsdf['poly']=[str(pt) for pt in pointsdf['polygons']]
sf['poly']=[str(pt) for pt in sf['geometry']]
df=pd.merge(pointsdf,sf,left_on='poly',right_on='poly')

In [81]:
df['point']=df[0]
df=df[['point','geometry','TRACTCE']]

In [82]:
df.columns

Index(['point', 'geometry', 'TRACTCE'], dtype='object')

In [78]:
evictions.columns

Index(['Address', 'Zipcode', 'File Date', 'Neighborhood', 'Location',
       'Non Payment', 'Breach', 'Nuisance', 'Illegal Use',
       'Failure to Sign Renewal', 'Access Denial', 'Unapproved Subtenant',
       'Owner Move In', 'Demolition', 'Capital Improvement',
       'Substantial Rehab', 'Ellis Act WithDrawal', 'Condo Conversion',
       'Roommate Same Unit', 'Other Cause', 'Late Payments',
       'Lead Remediation', 'Development', 'Good Samaritan Ends'],
      dtype='object')

In [86]:
df['pt_h']=[str(pt) for pt in df['point']]

In [113]:

df1=df[['point','pt_h','TRACTCE']].merge(evictions[['Location','File Date','Non Payment', 'Breach', 'Nuisance', 
        'Illegal Use','Failure to Sign Renewal', 'Access Denial', 'Unapproved Subtenant',
       'Owner Move In', 'Demolition', 'Capital Improvement',
       'Substantial Rehab', 'Ellis Act WithDrawal', 'Condo Conversion',
       'Roommate Same Unit', 'Other Cause', 'Late Payments',
       'Lead Remediation', 'Development', 'Good Samaritan Ends']],left_on='pt_h',right_on='Location')
coords = df1.point.apply(lambda x: x.coords.xy)

df1.head()

,point,pt_h,TRACTCE,Location,File Date,Non Payment,Breach,Nuisance,Illegal Use,Failure to Sign Renewal,...,Capital Improvement,Substantial Rehab,Ellis Act WithDrawal,Condo Conversion,Roommate Same Unit,Other Cause,Late Payments,Lead Remediation,Development,Good Samaritan Ends
0,POINT (-122.4110160038148 37.74840805465268),POINT (-122.4110160038148 37.74840805465268),22902,POINT (-122.4110160038148 37.74840805465268),09/01/2016,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,POINT (-122.4110160038148 37.74840805465268),POINT (-122.4110160038148 37.74840805465268),22902,POINT (-122.4110160038148 37.74840805465268),03/11/2019,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,POINT (-122.4110160038148 37.74840805465268),POINT (-122.4110160038148 37.74840805465268),22902,POINT (-122.4110160038148 37.74840805465268),09/01/2016,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,POINT (-122.4110160038148 37.74840805465268),POINT (-122.4110160038148 37.74840805465268),22902,POINT (-122.4110160038148 37.74840805465268),03/11/2019,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,POINT (-122.4100994812133 37.74842736425093),POINT (-122.4100994812133 37.74842736425093),22902,POINT (-122.4100994812133 37.74842736425093),09/27/2012,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False

In [114]:
df1['long']=[c[0][0] for c in coords]
df1['lat']=[c[1][0] for c in coords]
df1=df1.drop(['point','pt_h','Location'],axis=1)
df1.head()

,TRACTCE,File Date,Non Payment,Breach,Nuisance,Illegal Use,Failure to Sign Renewal,Access Denial,Unapproved Subtenant,Owner Move In,...,Ellis Act WithDrawal,Condo Conversion,Roommate Same Unit,Other Cause,Late Payments,Lead Remediation,Development,Good Samaritan Ends,long,lat
0,22902,09/01/2016,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,-122.411016,37.748408
1,22902,03/11/2019,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,-122.411016,37.748408
2,22902,09/01/2016,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,-122.411016,37.748408
3,22902,03/11/2019,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,-122.411016,37.748408
4,22902,09/27/2012,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,-122.410099,37.748427

In [115]:
df1=df1*1 
df1.head()

,TRACTCE,File Date,Non Payment,Breach,Nuisance,Illegal Use,Failure to Sign Renewal,Access Denial,Unapproved Subtenant,Owner Move In,...,Ellis Act WithDrawal,Condo Conversion,Roommate Same Unit,Other Cause,Late Payments,Lead Remediation,Development,Good Samaritan Ends,long,lat
0,22902,09/01/2016,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-122.411016,37.748408
1,22902,03/11/2019,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-122.411016,37.748408
2,22902,09/01/2016,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-122.411016,37.748408
3,22902,03/11/2019,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-122.411016,37.748408
4,22902,09/27/2012,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,-122.410099,37.748427

In [ ]:
#2010 and beyond

In [112]:
df1.to_csv('Evictions.csv')